* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.85rem;
    align-items: center;
}

.header__logo {
    height: 1.5rem;
}

.hamburger__img {
    height: 1.5rem;
}

.nav__list {
    display: none;
}