* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.85rem;
    align-items: center;
}

.header__logo {
    max-width: 6rem;
}

.header__hamburger {}

.nav__list {
    display: none;
}